
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Теги</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
    <link rel="stylesheet" href="~/css/autor-style.css"/> 
    <link rel="stylesheet" href="~/css/tags-style.css"/>
</head>
    
                
<header>
    <h2 class="tm-main-title">Теги</h2>
</header>
<div class="tm-gallery">
    <div class="row">
         @foreach(var tag in Model)
            {
                <figure class="col-lg-1,5 col-md-1,5 col-sm-3 col-3 tm-gallery-item">
                                    <div class="avd_div">
                                        <a asp-area="" asp-controller="TtagItems" asp-action="ItemsByTag" asp-route-id=@tag.Id>
                                        <p class="bucn_3_4r">@tag.Name</p>
                                        </a>
                                    </div>
                                    
                                </figure>
            }
    </div>
                            
</div>

            