
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Теги</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
    <link rel="stylesheet" href="~/css/autor-style.css"/> 
    <link rel="stylesheet" href="~/css/tags-style.css"/>
</head>
<div class="tm-main-content no-pad-b">
    
                
<header>
    <h2 class="tm-main-title">Теги</h2>
</header>
<div class="tm-gallery">
    <div class="row">
                        @foreach(var tag in Model)
                            {
                                <figure class="col-lg-2 col-md-2 col-sm-3 col-3 tm-gallery-item">
                                    <a asp-area="" asp-controller="TtagItems" asp-action="AddTagToItem" asp-route-id=@tag.Id>
                            
                                        <p class="tm-figcaption">@tag.Name</p>
                                    </a>
                                </figure>
                            }
    </div>
                            
</div>

            