

<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Страница Тега</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
    <link rel="stylesheet" href="~/css/autor-style.css"/> 
    <link rel="stylesheet" href="~/css/tags-style.css"/>
</head>

<style>
    .header_small {
    margin-left: 20px;
    margin-top: 20px;
    }
    a{
        margin-left:20px;
    }
    h3{
        color:red;
        text-align:center;
    }
</style>


@if(Model == null)
        {
            <h3>По Вашему запросу ничего не найдено</h3>
                <td class="aling-middle">
                    <a class="btn btn-outline-secondary" asp-controller="Items" asp-action="Index">Вернуться к каталогу</a>
            </td>
        }
        else
        {              
           <header>
                <h2 class="tm-main-title">Теги</h2>
           </header>
           <div class="tm-gallery">
                <div class="row">
                    @foreach(var tag in Model)
                      {
                        <figure class="col-lg-1,5 col-md-1,5 col-sm-3 col-3 tm-gallery-item">
                            <a asp-area="" asp-controller="TtagItems" asp-action="ItemsByTag" asp-route-id=@tag.Id>
                            <p class="tm-figcaption">@tag.Name</p>
                            </a>
                        </figure>
                      }
                        
                </div>
                            
           </div>

}           