body {
    background-color: #fff;
}

header {
    background-color: #fff;
    width: 100%;
}


footer {
    background: #fff;
    color: #000000;
    width: 100%;
    padding: 1%;
    
}

a {
    text-decoration-line: none;
    color: #000000;
}

img {
    text-align-last: center;
}

.siteNavidation {
    margin: auto;
    display: flex;
    align-items: center;
}

.header_item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}

.header_item:hover {
        background-color: #faefd5; /*задний фон при наведении*/
        border-radius: 4px;

}

.headerlogo {
    font-weight: bold;
    color: #000000;
}

.headerButton {
    cursor: pointer;
    color: #000000;
}

.nav-link dropdown-toggle {
    color: #000000;
}

.headerCome {
    cursor: pointer;
    color: #000000;
    text-align: left;
    
}
.display-4 {
    font-weight: bold;
    font-size: 32px;
    
}
.container {
    background-color: #EBEBFF;
    margin-top: 0px;
}
.ft {
    margin-left: 90px;
}

form {
    position: relative;
    width: 100%;
    margin: auto;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #a486fb;
    border-radius: 5px;
    outline: none;
    background: #fff;
    color: #9E9C9C;
}

button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #a486fb;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

    button:before {
        content: "\f002";
        font-family: FontAwesome;
        font-size: 16px;
        color: #fff;
    }