@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Genres</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
</head>
<body>
    <div class="tm-main-content">
                <section class="tm-margin-b-l">
                    <header>
                        <h2 class="tm-main-title">Жанры</h2>
                    </header>
                    <div class="tm-gallery">

                        <a href="genre1.html">
                            <p class="tm-main-title">Драма</p>
                        </a>
                        <a href="genre2.html">
                            <p class="tm-main-title">Фэнтези</p>
                        </a>
                        <a href="genre3.html">
                            <p class="tm-main-title">Художественная проза</p>
                        </a>
                        <a href="genre4.html">
                            <p class="tm-main-title">Роман</p>
                        </a>
                        <a href="genre5.html">
                            <p class="tm-main-title">Поэзия</p>
                        </a>
                        <a href="genre6.html">
                            <p class="tm-main-title">Фольклор </p>
                        </a>
                        <a href="genre7.html">
                            <p class="tm-main-title">Историческая проза</p>
                        </a>
                        <a href="genre8.html">
                            <p class="tm-main-title">Хоррор</p>
                        </a>
                        <a href="genre9.html">
                            <p class="tm-main-title">Триллер</p>
                        </a>
                        <a href="genre10.html">
                            <p class="tm-main-title">Реализм</p>
                        </a>
                        <a href="genre11.html">
                            <p class="tm-main-title">Научная фантастика</p>
                        </a>
                        <a href="genre12.html">
                            <p class="tm-main-title">Юмор</p>
                        </a>
                        <a href="genre13.html">
                            <p class="tm-main-title">Биография</p>
                        </a>
                        <a href="genre14.html">
                            <p class="tm-main-title">Эссе</p>
                        </a>
                        <a href="genre15.html">
                            <p class="tm-main-title">Документальная литература</p>
                        </a>
                    </div>
                    
                    
                </section>

                
            </div>
</body>

</html>
