@{
    ViewData["Title"] = "ARB";
}


<div class="text-center">
    <h1 class="display-4">Книги в алфавитном порядке</h1>
    <p>На данной странице отображены униги, отсортированные по алфавиту</p>

</div>


