<html lang="ru" dir="ltr">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Item</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
</head>

<style>
    .header_small {
    margin-left: 20px;
    margin-top: 20px;
    }
    h3{
        color:red;
        text-align:center;
    }
</style>


<style>
    img{
        width:75%;
    }
    a {
    margin-left: 20px;   
    }
</style>

@if(Model == null)
    {
    <h3>Нет никаких каталог, связанных с этим ответом</h3>
}
else
{
<div class="tm-main-content no-pad-b">
    <section class="row tm-item-preview">
       <div class="col-md-6 col-sm-12 mb-md-0 mb-5">
         <img src="~/img/cover.jpg" alt="Image" class="img-fluid tm-img-center-sm">
       </div>
       <div class="col-md-6 col-sm-12">
           <h2 class="tm-blue-text tm-margin-b-p">@Model.Name</h2>
               <p class="tm-margin-b-p">@Model.Description</p>
               <p class="tm-margin-b-p">Год: @Model.Year</p>
               <p class="tm-margin-b-p">Жанр: @Model.Genre</p>
               <p class="tm-margin-b-p"> <a asp-area="" asp-controller="Authors" asp-action="AuthorPage" asp-route-id=@Model.Id class="tm-blue-text">Авторы</a>   <a asp-controller="ItemAuthors" asp-action="PickAuthor" asp-route-id=@Model.Id class="btn btn-success" ><i class="bi bi-plus-circle"></i>Добавить</a></p>
               <p class="tm-margin-b-p"> <a asp-area="" asp-controller="Tags" asp-action="TagPage" asp-route-id=@Model.Id class="tm-blue-text">Теги</a>  <a asp-controller="TtagItems" asp-action="PickTag" asp-route-id=@Model.Id class="btn btn-success" ><i class="bi bi-plus-circle"></i>Добавить</a></p>
               <a asp-area="" asp-controller="Like" asp-action="AddLikes" asp-route-id=@Model.Id class="tm-btn tm-btn-gray tm-margin-r-20 tm-margin-b-s">Нравится</a><a asp-area="" asp-controller="Reaction" asp-action="Index" asp-route-id=@Model.Id class="tm-btn tm-btn-blue">Комментарии</a>
       </div>
    </section>
</div>
<p>  </p>
<td class="aling-middle">
     <a asp-area="" asp-controller="Items" asp-action="Edit" asp-route-id=@Model.Id class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Редактировать</a>
     <a asp-area="" asp-controller="Items" asp-action="Delete" asp-route-id=@Model.Id class="btn btn-danger"><i class="bi bi-trash"></i>Удалить</a>
     <a class="btn btn-outline-secondary" asp-action="Index">Вернуться к каталогу</a>
</td>
}

