<!DOCTYPE html>
<html>
    <!--*начало кода*-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/StyleSheet.css"/>
    
</head>



<body>
    <!--*шапка сайта*-->
    <header>
        <nav class="siteNavidation">
            
            <div class="header_item"> 
                 <img src="https://www.pinclipart.com/picdir/big/361-3616179_book-closed-clipart.png" alt="sorry image not uploaded" width="20"/>
                 <a class="headerlogo" asp-area="" asp-controller="Home" asp-action="Index">ARB</a>
            </div>  
             
            <div class="header_item">          
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Жанры
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <li><a class="dropdown-item" href="#">Драма</a></li>
                   <li><a class="dropdown-item" href="#">Фэнтези</a></li>
                   <li><a class="dropdown-item" href="#">Художественная проза</a></li>
                   <li><a class="dropdown-item" href="#">Роман</a></li>
                   <li><a class="dropdown-item" href="#">Поэзия</a></li>
                   <li><a class="dropdown-item" href="#">Фольклер</a></li>
                   <li><a class="dropdown-item" href="#">Историческая проза</a></li>
                   <li><a class="dropdown-item" href="#">Хоррор</a></li>
                   <li><a class="dropdown-item" href="#">Триллер</a></li>
                   <li><a class="dropdown-item" href="#">Реализм</a></li>
                   <li><a class="dropdown-item" href="#">Научная фантастика</a></li>
                   <li><a class="dropdown-item" href="#">Комедия</a></li>
                   <li><a class="dropdown-item" href="#">Биография</a></li>
                   <li><a class="dropdown-item" href="#">Эссе</a></li>
                   <li><a class="dropdown-item" href="#">Документальная литература</a></li>  
                </ul>
           </div>
              
           <div class="header_item">          
                <a class="headerButton" asp-area="" asp-controller="Home" asp-action="Privacy">Авторы</a>
           </div>

           <div class="header_item">          
                <a class="headerButton" asp-area="" asp-controller="Home" asp-action="Privacy">Вопросы</a>
           </div>
             
           <form>
                 <input type="search" placeholder="Искать здесь...">
                 <button class="search" type="submit"></button>
           </form> 
             
             <div class="header_item">
                 <img src="https://i.pinimg.com/originals/95/79/05/957905e8d8c6074be7dc8378ddad4a69.png" alt="sorry image not uploaded" width="16"/>
                 <a class="headerCome" asp-area="" asp-controller="Users" asp-action="Index">Войти</a>
             </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--*низ сайта*-->
    <footer class="border-top footer text-muted">
        <div class="ft">
            &copy; 2022 - ARB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Авторы</a>
        </div>
    </footer>
    
    <!--*подключение фалов по умолчанию*-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>