@{
    ViewData["Title"] = "AddLike";
}
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Likes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
    <link rel="stylesheet" href="~/css/autor-style.css"/> 
</head>

<style>
    
    h2{
        text-align:center;
        margin:20px auto;
    }
    
</style>
                    
 <header>
    <h2>Элемент сохранен в Избранном</h2>
</header>
