@{
    ViewData["Title"] = "CollectionsPage";
}
<html lang="ru" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>List of Responses</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
      <link rel="stylesheet" href="~/css/autor-style.css"/> 
</head>
          
 <header>
    <h2 class="tm-main-title">Мои Коллекции</h2>
</header>
<div class="tm-gallery">
    <div class="row">
                        @foreach(var collection in Model)
                            {
                                    <figure class="col-lg-1,5 col-md-1,5 col-sm-3 col-3 tm-gallery-item">
                                        <a asp-area="" asp-controller="CollectionItem" asp-action="ShowItems" asp-route-id=@collection.Id>
                                            
                                            <p class="tm-figcaption">@collection.Name</p>
                                        </a>
                                        <a asp-controller="CollectionItem" asp-action="PickItem" asp-route-id=@collection.Id class="btn btn-success" ><i class="bi bi-plus-circle"></i>Добавить книгу</a>
                                    </figure>

                            }
    </div>
                            
</div>
<a asp-controller="Collection" asp-action="Create" class="btn btn-success" ><i class="bi bi-plus-circle"></i>Добавить коллекцию</a>
            