@{
    ViewData["Title"] = "CollectionsPage";
}
<html lang="ru" dir="ltr">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Genres</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  
        <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">               
        <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<div class="tm-main-content no-pad-b">
    
                
                <header>
    <h2 class="tm-main-title">Мои Коллекции</h2>
</header>
<table class="table">
    <tr>
        
        <th>
            Название
        </th>
        <th>
            
        </th>
        </tr>
                        @foreach(var collection in Model)
                            {
                                    <tr>
            
            <td>@collection.Name</td>
            

            <td class="aling-middle">
            <a asp-controller="CollectionItem" asp-action="PickItem" asp-route-id=@collection.Id class="btn btn-success" ><i class="bi bi-plus-circle"></i>Добавить книгу</a>
            <a asp-controller="Save" asp-action="Save" asp-route-id=@collection.Id class="btn btn-success" ><i class="bi bi-plus-circle"></i>Сохранить</a>
            <a asp-area="" asp-controller="CollectionItem" asp-action="ShowItems" asp-route-id=@collection.Id class="btn btn-outline-info"><i class="bi bi-eye"></i>Подробнее</a>
            </td>
        </tr>

                            }
    </table>
<a asp-controller="Collection" asp-action="Create" class="btn btn-success" ><i class="bi bi-plus-circle"></i>Добавить коллекцию</a>
            