@model Archive.Models.CreateUserRequest;
@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <title>Вход</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
   <link rel="stylesheet" href="~/css/login-style.css"/>
    
</head>

<body>
 <div class="login">
      <div class="heading">
           
            <form asp-action="Login" asp-controller="Users" asp-anti-forgery="true" class="Login">
               
                <a class="back" asp-area="" asp-controller="Items" asp-action="Index">
                   <img src="~/img/img5.png" align="right"  alt="Нет изображения">
                </a>

                <h2>Вход в аккаунт</h2>

               <div class="form-group">
                   <span class="input-group-addon"><i class="fa fa-user"></i></span>
                   <input type="text" class="form-control" placeholder="Email">
              </div>

              <div class="form-group">
                   <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                   <input type="password" class="form-control" placeholder="Введите пароль">
              </div>

              <div class="form-group">
                  <button type="submit" class="float">Войти</button>
                
              </div>
              
              <div class="form-group">
                  
                   <a class="Register" href="/Users/Register">У вас нет аккаунта? Зарегестрируйтесь<br></a>
              </div>
        
           </form>
       
 		</div>
        
 </div>
</body>

