@model Archive.Models.CreateUserRequest;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Регистрация</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
   <link rel="stylesheet" href="~/css/reg-style.css"/> 
</head>

<body>

   <form asp-action="Register" asp-controller="Account" asp-anti-forgery="false" class="Register"> 
        
       <a class="back" asp-area="" asp-controller="Users" asp-action="Login">
          <img src="~/img/img4.png" align="left"  alt="Нет изображения">
       </a>

        <h2>Регистрация</h2>
       
        <div class="form-group">
          <i class="fa fa-user icon"></i>
          <input type="text" asp-for="Name" placeholder="Никнейм" name="usrnm">
        </div>

        <div class="form-group">
           <i class="fa fa-envelope icon"></i>
           <input type="text" asp-for="Email" placeholder="Email" name="email">
        </div>
  
        <div class="form-group">
           <i class="fa fa-key icon"></i>
           <input type="password" asp-for="Password" placeholder="Введите пароль" name="psw">
        </div>

         <div class="form-group">
            <i class="fa fa-user icon"></i>
            <input type="text" asp-for="Role" placeholder="Роль" name="role">
         </div>

         <div>
            <button type="submit" class="btn">Register</button>
         </div>
  
  </form>

</body>

</html>